# Python
[[language]]
name = "python"
language-servers = ["pyright", "ruff"]
formatter = { command = "black", args = ["-", "-q"] }

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.ruff]
command = "ruff"
args = ["server"]
