# [language-server]
# oxfmt = { command = "oxfmt", args = ["--lsp"] }

# [[language]]
# name = "javascript"
# language-servers = [{ name = "typescript-language-server", except-features = ["format"] }, "oxfmt"]
# auto-format = true

# [[language]]
# name = "typescript"
# language-servers = [{ name = "typescript-language-server", except-features = ["format"] }, "oxfmt"]
# auto-format = true

# [[language]]
# name = "tsx"
# auto-format = true
# language-servers = [{ name = "typescript-language-server", except-features = ["format"] }, "oxfmt"]

# [[language]]
# name = "jsx"
# auto-format = true
# language-servers = [{ name = "typescript-language-server", except-features = ["format"] }, "oxfmt"]

# [[language]]
# name = "json"
# language-servers = [{ name = "vscode-json-language-server", except-features = ["format"] }, "oxfmt"]
