theme "catppuccin-mocha"
default_shell "nu"
mouse_mode true
pane_frames true
default_layout "compact"
simplified_ui true
ui {
	pane_frames {
		session_serialization false
        hide_session_name true
        rounded_corners true
	}
}
